.galley-root-container {
    display: block;
    width: 1200px;
    justify-content: center;
    margin-bottom: 24px;
}

button.photo-gallery-button {
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
    outline: none;
}

.photo-gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photo-gallery-square {
    display: grid;
    grid-template-columns: 296px 296px;
    row-gap: 5px;
    column-gap: 5px;
    width: 618px;
    max-width: 50vw;
    height: auto;
    border-top-right-radius: 2%;
    border-bottom-right-radius: 2%;
    /* border: 6px solid yellow; */
    /* border: 1px solid red; */
}
  
.photo-gallery-item {
    display: flex;
    width: auto;
    height: auto;
    min-height: 100px;
    max-width: 1280px;
    align-items: center;
    justify-content: left;
    /* border:2px solid yellow; */
}

.photo-gallery-left {
      border-top-left-radius: 2%;
      border-bottom-left-radius: 2%;
      height: 100%;
      overflow: hidden;
     /* border: 6px solid yellow; */
}

.photo-gallery-item {
    position: relative;
}

.morePhotos {
    position: absolute;
    bottom: 20px; 
    right: 16px; 
    border-radius: 6px;
    background-color: white;
    padding: 10px 20px;
    font-size: 15px; 
    color: rgb(40, 42, 54);
    border: 0px solid rgb(178,178,178);
}

.morePhotos:hover{
    color: rgb(229, 227, 211);
    background-color: rgb(72, 72, 71)
}

.photo-gallery-button:hover .photo-gallery-img {
  filter: brightness(0.7); 
}

/*modal*/

.modal-fullscreen {
    position: relative;
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-start; 
    justify-content: flex-start;
    background-color: rgba(255,255,255,0.911); 
}

.modal-close-button{
    position: absolute;
    top: 0px;
    left: 0px;

}
  
.modal-content {
    width:1200px;
}
  
.modal-body .photo-gallery-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 8px;
}
  
.modal-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
