/* .big-box,
.mini-box {
    background-color: #10BCFF;
    color: white;
    text-align: center;
    margin: 2px;
    font-size: 1.5em;
}
.big-box {
    height: 45px;
    line-height: 45px;
}
.mini-box {
    height: 30px;
    line-height: 30px;
} */

.big-box,
.mini-box {
    background-color: #10BCFF;
    color: white;
    text-align: center;
    margin: 2px;
    font-size: 1.5em;
}
.big-box {
    height: 65px;
    line-height: 65px;
}
.mini-box {
    height: 30px;
    line-height: 30px;
}