.host-info-container{
    display: flex;
    position: relative;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    display: flex;
    width: 70vw;
    justify-content: center;
    
}

.container-container {
    display: flex;
    align-items: flex-start;
    width: 100%;
    max-width: 1280px;
    min-width: 550px;
    box-sizing: border-box;
    margin-left: 120px;
    padding-top: 40px;
    padding-bottom: 40px;
    border: 2px solid rgb(255, 196, 0);
  }
  
 
  .host-info {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
  }
  
  .contact-button-container {
    margin-top: auto;
  }
  
  .contact-button {
    background: transparent;
    border: 0;
    cursor: pointer;
  }
 .img-circle{
    border-radius: 50%;
    width: 44px;
    height: 44px;
    object-fit:cover;
 }
 .avatar{
    position: absolute;
    inset: 0px;
    box-sizing: border-box;
    padding: 0px;
    margin: auto;
    display: block;
    width: 0px;
    height: 0px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    border: 2px solid rgb(255, 196, 0); 
 }

 .hosted-by{
    font-weight: 900;
    font-size:large;
 }

 .since{
    font-weight: lighter;
 }
 
 .contact{
    background-color: rgb(40, 42, 54);
    color: rgb(253, 253, 253);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 140px;
    height: 45px;
 }