* {
    margin: 0px;
    font-family: Calibre, "Helvetica Neue", sans-serif;
    color: rgb(0, 0, 0);
}
.tent-sites {
    justify-content: center;
    
}
.tent-sites-title {
    margin-top: 24px;
    
}
.container {
}
.container.sticky {
    position: fixed; /* Make the element sticky */
    top: 0; /* Stick it to the top of the container */
    width: 100%; /* Take up the full width of the container */
    z-index: 1; /* Ensure it stays on top of other content */
  }
#tentsite-title {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: 30px;
    font-family: Calibre, Helvetica, Arial, sans-serif;
}

#tentsite-availabilieaty {
    font-size: .9em;
    font-weight: 400;
}
.tentsite-1 {
    display: flex;
    flex-direction: row
}
.tentsite-1-data {
    margin-left: 2%;
}
#tentsite-img-1 {
    width: 271px;
    height: 271px;
    object-fit: cover;
    border-radius: 12px;
}
#tentsite-name {
    font-size: large;
    font-weight: bold;
}
.campsite-details {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
/* For the site attributes section. */
.site-attributes {
    margin-top: 5px;
    display: grid;
    grid-template-columns: auto auto;
}
.attributes-column-a {
    display: flex;
    flex-direction: column;
}
.attributes-column-b {
    display: flex;
    flex-direction: column;
} 
.attributes-items {
    display: flex;
    flex-direction: column;
    margin-right: 12px;
}
.slash {
    position: relative;
    top: -16px;
    border-top-width: 1px;
    border-top-style: solid;
    transform: rotate(45deg);
    width: 32px;
}
/* .slash1 {

}
.slash2 {

} */
/* PRICE PER GUEST AND RESERVE BUTTON SECTION */
.all-price {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.price-data{
    display: flex;
    flex-direction: row;
    color: blue;
    align-items: flex-start;
}
.p-d-line1 {
    display: flex;
    align-items: center;
}
.p-d-line2 {
    display: flex;
    align-items: center;
}
.deal-price {
    font-weight: bold;
    margin-left: 5px;
}
.btOrange {
    background-color: rgb(199,79,45);
    border:none;
    font-size: 18px;
    font-family: Calibre, "Helvetica Neue", sans-serif;
}
.btOrange:hover {
    background-color: rgb(159,63,36);
}
.tentTag {
    font-size: 12px;
    font-weight: 500;
    margin: 8px;
}

.bottom-line {
    border-top: 1px solid rgb(240, 239, 236);
}

.tent-map-container {
    display: flex;
    flex-direction: column;
}
.tent-sites-left {
    width: 60%;

}
.map-right {
    display: flex;
    width: 40%;
}