.selectionBt {
    padding:20px;
    padding-right: 30%;
}
.addDate {
    position: relative;
    padding-left: 40px;
}
.top40 {
    top:40%;
}
.tableContainer{
    height:250px;
    width:300px;
}
td {
    height: 40px;
    min-width: 40px;
    font-size: 12px;
}
.calenderSlot:hover {
    background-color: var(--bs-border-color);
}
small {
    font-size: 80%;
}