.camp-spots-root-container {
    display: flex;
    width: 100vw;
    justify-content: center;
}
.camp-spots-container-centered {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    max-width: 1280px;
    min-width: 550px;
    align-items: center;
    box-sizing: border-box;
    margin: 0;
    padding-bottom: 48px;
    padding-top: 48px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    /* border: 1px solid lightgray; */
}

.camp-spots-title {
    width: 100%;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: 34px;
    color: rgb(51, 49, 33);
    /* border: 1px solid lightgray; */

}

.camp-spot-card {
    display: flex;
    flex-direction: column;
    width: 308px;
    height: 363px;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 24px;
    /* border: 1px solid lightgray; */
}

.camp-spot-img-wrapper {
    width: 292px;
    height: 219px;
    border-radius: 16px;
    overflow: hidden;
}

.camp-spot-img {
    width: auto;
    height: 100%;
}

.camp-spot-rating-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    /* border: 1px solid lightgray; */
}

.camp-spot-rating-thumb {
    fill: rgb(92, 90, 77)
}

.camp-spot-rating-txt {
    font-family: Calibre, Helvetica, Arial, sans-serif;
    color: rgb(92, 90, 77);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0px;
    line-height: 24px;
}

.camp-spot-title-txt {
    font-family: Calibre, Helvetica, Arial, sans-serif;
    color: rgb(51, 49, 33);
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: 26px;
}

.camp-spot-txt {
    font-family: Calibre, Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 24px;
    color: rgb(110, 110, 110);
}

.camp-spot-money-txt {
    font-family: Calibre, Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: 24px;
    color: rgb(92, 90, 77);
}

.carousel-control-next:hover,
.carousel-control-prev:hover {
    cursor: auto;
}

.carousel-custom-prev-icon,
.carousel-custom-next-icon {
    font-size: 30px;
    color: #333333;
    background-color: #ffffff;
    padding: 0px 10px 3px 9px;
    border-radius: 100%;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.carousel-custom-prev-icon {
    margin-top: -190px;
    margin-left: -220px;
}

.carousel-custom-next-icon {
    margin-top: -190px;
    margin-right: -120px;
}

.carousel-custom-prev-icon:hover,
.carousel-custom-next-icon:hover {
    background-color: #d2cece;
}