.component-container {
    height: 100vh;
    width: 100vw;
    background-color:#f1f3ee;
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
}

.heading {
    font-size: 26px;
    line-height: 16px;
    text-align: start;
    margin-left: 24px;
    margin-top: 50px;
    font-family: sans-serif;
}

.card-container{
    height: 80vh;
    width: 100wh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.partner-card{
    background-color: #e6efd9;
    color: #28400c;
    height:480px;
    width: 389px;
    margin: 12px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-content{
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    height: 100vh;
    width: 100wh;
    /* background-color: red; */
}

.card-image{
    height: 50vh;
    width: 50wh;
    z-index: 1;
    /* visibility: hidden; */
}

.card-button{
    display: block;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 62px;
    border: 1px solid black;
    border-radius: 24px;
    width: 350px;
    height: 48px;
    z-index: 2;
    text-decoration: none;
    color:#28400c;
}

.card-button:hover{
    background-color: #28400c;
    color: white;
}

